apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: $APP_NAME
    component: $APP_NAME-prod
    tier: backend
  name: $APP_NAME-prod
  namespace: ttprojectdev
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  selector:
    matchLabels:
      app: $APP_NAME
      component: $APP_NAME-prod
      tier: backend
  template:
    metadata:
      labels:
        app: $APP_NAME
        component: $APP_NAME-prod
        tier: backend
    spec:
      containers:
        - env:
            - name: CACHE_IGNORE
              value: js|html
            - name: CACHE_PUBLIC_EXPIRATION
              value: 3d
          image: $REGISTRY/$HARBOR_NAMESPACE/$APP_NAME:sv$BUILD_NUMBER
#          readinessProbe:
#            httpGet:
#              path: /
#              port: 80
#            timeoutSeconds: 60
#            failureThreshold: 30
#            periodSeconds: 5
          imagePullPolicy: Always
          name: ks-sample
          ports:
            - containerPort: 80
              protocol: TCP
          resources:
            limits:
              cpu: 100m
              memory: 1000Mi
            requests:
              cpu: 50m
              memory: 500Mi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
